@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #a7a6ba;
  color: #222222
}

path {
  stroke: white;
  fill: purple;
  stroke-width: 0.97063118000000004;
  transition: fill .4s ease;
}

path:hover {
  fill: violet;
  cursor: pointer;
}

#us-map {
  display: block;
  position: absolute;
  /* top: 0; */
  left: 15%;
  width: 60%;
  height: auto;
}

#details-box {
  opacity: 0;
  padding: 1rem;
  border-radius: 8px;
  font-size: 24px;
  position: fixed;
  color: white;
  font-family: "Poppins";
  background-color: black;
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity .4s ease;
  z-index: 1;
}

span {
  margin: 0 10px;
}

#title {
  padding: 20px;
  text-align: center;
}

label {
  margin-right: 10px;
}

#map-container {
  background-color: #5A5A5A;
  height: 80vh;
}