{% extends "index.html" %}

{% block modal %}
<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">{{ state }}</h4>
        <form action="/">
          <button type="submit" class="close close-button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <caption><span>Year: {{ crime_dict.year }}</span><span>Population: {{ "{:,}".format(crime_dict.population)
              }}</span>
          </caption>
          <tr>
            <th>Crime</th>
            <th>Occurances</th>
            <th>Per 100,000 People</th>
          </tr>
          {% for key, value in crime_dict.crimes.items() %}
          <tr>
            <td>{{ key | replace("_", " ")}} :</td>
            <td>{{ "{:,}".format(value.occurances) }}</td>
            <td>{{ "{:,}".format(value.per100k) }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="modal-footer">
        <form action="/">
          <button class="btn btn-primary close-button" type="submit">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}