{% extends "index.html" %}

{% block modal %}
<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ state }}</h5>
        <form action="/">
          <button type="submit" class="close close-button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <form action="/">
          <button class="btn btn-primary close-button" type="submit">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}